/*-- Reset --*/
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: large;
}

/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 2.8rem;
}
.navbar {
  background: linear-gradient(to right, #f2f2f2, #fbfbfb);
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
.nav-item {
  padding: 0.4rem;
}

.nav-link {
  color: black !important;
}
.nav-link.active,
.nav-link:hover {
  color: #396afc !important;
}
/*============= CAROUSEL =============*/

.carousel-inner {
  max-height: 40rem !important;
}
/*---Change Carousel Transition Speed --*/
.carouse-item-next,
.carousel-item-prev,
.carouse-item.active {
  transition: transform ease 1.2s;
}

.carousel-indicators {
  width: 40px;
  height: 6px;
  margin-right: 4px;
  margin-left: 4px;
}
/*-- Carousel Content --*/
.carousel-caption {
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
}
.header-text {
  color: #6ea847;
}

.subheader-text {
  color: #548f2f;
}

.btn-primary {
  background-color: #548f2f;
}
/*============= SOCIAL MEDIA STICKY BAR =============*/

.jumbotron {
  background: linear-gradient(to right, #f2f2f2, #fbfbfb);
  padding: 1rem 0 0.5rem;
  margin-bottom: 0;
  border-radius: 0;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

ul.social {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
}

ul.social li {
  margin: 0 auto;
}

.jumbotron .svg-inline--fa {
  font-size: 2rem;
  margin: 0 1rem;
}
.jumbotron .svg-inline--fa:hover {
  color: grey !important;
}

/*============= COLUMN CONTENT =============*/

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  padding: 12rem 0;
  border-top: 0.05rem solid black;
  border-bottom: 0.05rem solid black;
  margin-bottom: 2px;
  height: 100vh; /*-- remove --*/
  overflow: hidden;
}
.fixed {
  background-image: url("../img/appwizer_logo2.png");
  position: fixed;
}

/*============= FOOTER =============*/
footer {
  background-color: lemonchiffon;
  padding: 1rem 2rem 3rem;
}

footer p {
  color: black;
}

footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

footer a {
  color: black;
  text-decoration: none;
}

/*============= SOCKET =============*/
.socket {
  background-color: grey;
}
/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
}
/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {
}
/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row,
.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
